@tailwind base;
@tailwind components;
@tailwind utilities;

/* 咱们之前写的隐藏滚动条的全局洁癖代码也放在这里！ */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
